* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.4;
    height: 100vh;
    background-color: rgb(5, 107, 107);
    display: flex;
}
.container {
    max-width: 800px;
    width: 60%;
    margin: auto;
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section {
    margin-bottom: 1rem;
}
.section .question {
    font-size: 18px;
    border-bottom: 2px solid #333;
    padding-bottom: 0.8rem;
    cursor: pointer;
    position: relative;
}
.section .question .icon {
    position: absolute;
    right: 5px;
    font-size: 2rem;
    cursor: pointer;
}
.section .answer {
    max-height: 0;
    margin: 20px 0 ;
    overflow: hidden;
}
.section.active .answer {
    max-height: 100%;
    transition: 0.5s;
    line-height: 2rem;
    letter-spacing: 0.02rem;
    margin-bottom: 10px;
}
.section.active .question {
    transition: 0.5s;
}